* {
    margin: 0%;
    padding: 0%;

}

body {
    /* border-radius: 16px; */
    /* max-width: 1320px;
    width: 82.5%; */

}

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(img/Banner\ Image.png);
    margin: 50px 140px;
    border-radius: 16px;
    height: 600px;
    width: 82%;
    max-width: 1320px;
}

.head-sec {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';

}

.title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
}

.text-font {
    padding: 16px;
    font-size: 72px;
    text-align: center;
    margin-bottom: 50px;
}

.list {
    width: 82%;
    max-width: 1600px;

}

.section-discount {

    margin-top: 100px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72.6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.section-comment {
    margin-top: 38px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 19.8px;
    font-weight: 500;
    line-height: normal;
}

.section-text {
    margin: 12px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.list img {
    width: 802.9px;
    height: 411px;
    flex-shrink: 0;
    align-items: center;
    margin-left: 25%;
}

/* Victoy section */

.victory {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(img/Vectorrr.png);
    height: 600px;
    width: 82%;
    max-width: 1320px;
    margin: 50px 140px;
    border-radius: 16px;
    height: 600px;

}

/* mid night party */

.title-victory {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin: 120px;
    margin-bottom: 18px;
}

.content-victort {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 642px;
    margin-left: 120px;
    margin-bottom: 40px;


}

.victory text {

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 120px;

}

.victory {
    display: flex;
}

.bg {
    margin-right: 130px;
    margin-top: 60px;

}

.join-now {

    height: 600px;
    width: 82%;
    max-width: 1320px;
    margin: 50px 140px;
    border-radius: 16px;
    height: 600px;
background-color :linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

background-color: #ebe3e3;

}



.info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.info span {
    color: #F00;
}

.btn {
    color: #FFF;

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;

}