* {
    margin: 0%;
    padding: 0%;

}

body {
    /* border-radius: 16px; */
    /* max-width: 1320px;
    width: 82.5%; */

}

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(img/Banner\ Image.png);
    margin: 50px 140px;
    border-radius: 16px;
    height: 600px;
    width: 82%;
    max-width: 1320px;
}

.head-sec {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';

}

.title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
}

.text-font {
    padding: 16px;
    font-size: 72px;
    text-align: center;
    margin-bottom: 50px;
}

.list {
    width: 82%;
    max-width: 1600px;
  
}

.section-discount {

    margin-top:100px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72.6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.section-comment {
    margin-top: 38px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 19.8px;
    font-weight: 500;
    line-height: normal;
}

.section-text {
    margin: 12px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.list img {
    width: 802.9px;
    height: 411px;
    flex-shrink: 0;
    align-items: center;
    margin-left: 25%;
}

/* Victoy section */

.victory{

background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(img/Vectorrr.png);
height: 600px;
width: 82%;
max-width: 1320px;
margin: 50px 140px;
border-radius: 16px;
height: 600px;

}
.title-victory{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;

}

.content-victort{

    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.victory text{

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
